# Introduction to Python for Mathematical Computing

# Basic Python Syntax

In [1]:
print("Hello, Math with Python!")

Hello, Math with Python!

# Variables and Data Types

In [2]:
x = 10  # Integer
y = 3.14  # Float
z = "Mathematics"  # String

print(f"x: {x}, y: {y}, z: {z}")

x: 10, y: 3.14, z: Mathematics

# Basic Arithmetic Operations

In [3]:
sum_xy = x + y
product_xy = x * y
power_x2 = x ** 2  # x squared

print(f"Sum: {sum_xy}, Product: {product_xy}, Power: {power_x2}")

Sum: 13.14, Product: 31.400000000000002, Power: 100

# Conditional Statements

In [4]:
if x > y:
    print("x is greater than y")
else:
    print("x is not greater than y")

x is greater than y

# Loops

In [5]:
for i in range(5):
    print(f"Iteration {i}")

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

# Functions

In [6]:
def square(n):
    return n ** 2

print(f"Square of 5: {square(5)}")

Square of 5: 25

# Importing Libraries

In [7]:
import numpy as np

# NumPy Arrays

In [8]:
arr = np.array([1, 2, 3, 4, 5])
print(f"NumPy Array: {arr}")

NumPy Array: [1 2 3 4 5]

# Basic NumPy Operations

In [9]:
mean_arr = np.mean(arr)
std_arr = np.std(arr)

print(f"Mean: {mean_arr}, Standard Deviation: {std_arr}")

Mean: 3.0, Standard Deviation: 1.4142135623730951